@import url('./__form/popup__form.css');

.popup {
  display: none;
  position: fixed;

  /*overlay effect*/
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, .5);
}


.popup_open {
  display: flex;
  justify-content: center;
  align-items: center;
}
