.add-button {
  height: 50px;
  margin: 36px 0 0;
  padding: 0;
  cursor: pointer;

  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;

  background-image: url('../../images/add-icon.png');
  background-position: center;
  background-repeat: no-repeat;
}
