.popup__close {
  top: -8%;
  right: -13%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  height: 28px;
  width: 28px;

  background: url('../../../images/close-icon.svg') center no-repeat;
  border: 0;
}

.popup__close:hover {
  opacity: .6;
}


@media screen and (min-width: 768px) {
  .popup__close {
    height: 40px;
    width: 40px;
    right: -10%;
    top: -7%;
  }
}

@media screen and (min-width: 1024px) {
  .popup__close {
    right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .popup__close {
    right: -5%;
  }
}
