.form__input {
  width: calc(100% - 72px);
  border: 0;
  height: 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
  margin: 30px 36px 0;
  padding: 0;

  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

.form__input:first-child {
  margin-top: 54px;
}
