.add-button {
  height: 50px;
  margin: 35px 0 0;
  padding: 0;
  cursor: pointer;

  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;

  background: url('../../images/add-icon.svg') center no-repeat;
}

.add-button:hover {
  opacity: .6;
}

@media screen and (min-width: 768px) {
  .add-button {
    width: 100%;
    margin-left: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .add-button {
    max-width: 150px;
    margin-left: auto;
  }
}
