@import url('./close-form/close-form.css');

@import url('./fade-in/fade-in.css');

@import url('./fade-out/fade-out.css');



/*circle shape
.animations {
  width: 300px;
  height: 300px;
  margin: 20px;
  shape-outside: circle();
  clip-path: circle();
  background: lightblue;
}
*/

/*
w3-spin{animation:w3-spin 2s infinite linear}
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
*/

@keyframes open{
    0%{transform:scale(0)}
    50%{transform:scale(0)}to{transform:scale(1)}}
@keyframes buttonColorChange{
    0%{background-color:#1a1b22}
    18%{background-color:var(--profession-color,#007aff)}
    82%{background-color:var(--profession-color,#007aff)}
    to{background-color:#1a1b22}}
@keyframes questionHide{
    0%{transform:scale(1)}
    9%{transform:scale(0)}
    91%{transform:scale(0)}
    to{transform:scale(1)}}
@keyframes fadeIn{0%{opacity:0}}
@keyframes fadeOut{to{opacity:0}}
@keyframes rotation{to{transform:rotate(1turn)}}
