.elements__list {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 282px));
  row-gap: 20px;
}

@media screen and (min-width: 768px) {
  .elements__list {
    column-gap: 18px;
  }
}
