@import url('./__photo/element__photo.css');

@import url('./__details/element__details.css');

@import url('./__name/element__name.css');

@import url('./__like/element__like.css');


.element {
  width: 100%;
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;
}

.element:last-child {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .element {
    margin: 0;
  }
}
