@import url('./__photo/element__photo.css');

@import url('./__details/element__details.css');

@import url('./__name/element__name.css');

@import url('./__like/element__like.css');


.element {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}
