@import url('./__item/element__item.css');

@import url('./__photo/element__photo.css');

@import url('./__details/element__details.css');

@import url('./__name/element__name.css');

@import url('./__like/element__like.css');

.element {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}
